In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

In [5]:
#import covariate datasets qnd the outcomes. 

main_table_path = '/Users/alecstear/Documents/GitHub/anti-diabetics-study-with-EHR/'

cancer_path = f'{main_table_path}output.csv'
df_output = pd.read_csv(cancer_path)

In [9]:
df_output['subclass'] = df_output['subclass'].astype(int)

In [29]:
new_dataframe = pd.DataFrame()
for subclasse_i in range(1, 1984):
    subset = df_output[df_output['subclass'] == subclasse_i]
            # Find the 'VTE_date' value where 'VTE_group' is 1
    vte_date_value = subset.loc[subset['VTE'] == 1, 'VTE_date'].iloc[0]
    # Update the 'VTE_date' for all rows where 'VTE_group' is 0
    subset.loc[subset['VTE'] == 0, 'VTE_date'] = vte_date_value
    new_dataframe = pd.concat([new_dataframe, subset], ignore_index=True)

In [30]:
new_dataframe

,PAT_ID,sex,age,birth_date,diab_date,cancer,COPD,fracture,hypertension,surgery,...,sulfonylureas,DPP.4,a_gluc_inhib,exp_date,VTE_date,VTE,group,distance,weights,subclass
0,10251863423642218,2,63.556468,08/01/1954,02/20/2018,0,0,0,1,1,...,0,0,0,11/04/2020,07/18/2019,1,case,0.461353,1,1
1,12236876688957404,2,81.842574,03/30/1936,02/01/2018,0,1,0,0,0,...,0,0,0,07/13/2020,07/18/2019,0,control,0.307270,1,1
2,23357584914687304,1,60.336756,04/09/1958,08/10/2018,1,0,0,1,0,...,0,0,0,07/13/2020,07/18/2019,0,control,0.456658,1,1
3,28160454596717488,1,68.873374,04/26/1949,03/11/2018,0,0,0,0,0,...,1,0,0,08/06/2019,07/18/2019,0,control,0.188083,1,1
4,12518192610427788,2,62.691307,07/31/1955,04/09/2018,0,0,0,0,1,...,0,0,0,03/07/2019,05/03/2019,1,case,0.277493,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7927,26420315241827816,2,81.325120,09/16/1936,01/13/2018,0,0,0,0,0,...,0,0,0,NaN,02/16/2019,0,control,0.222711,1,1982
7928,12511843363341474,1,66.551677,02/09/1952,08/29/2018,1,0,0,0,0,...,0,0,0,NaN,05/17/2020,1,case,0.303561,1,1983
7929,17111066919350124,1,59.775496,05/13/1958,02/20/2018,0,0,0,0,0,...,1,0,0,08/06/2019,05/17/2020,0,control,0.161189,1,1983
7930,27363688320786168,1,61.478439,11/13/1956,05/07/2018,0,0,0,1,0,...,1,0,0,01/09/2019,05/17/2020,0,control,0.303610,1,1983
7931,28418422837039332,2,46.398357,07/25/1972,12/18/2018,0,0,0,1,0,...,0,0,0,08/25/2019,05/17/2020,0,control,0.234486,1,1983

In [31]:
#export latest csv file
csv_file_path = '/Users/alecstear/Documents/GitHub/anti-diabetics-study-with-EHR/data tables/df_VTE_date_for_controls.csv'
new_dataframe.to_csv(csv_file_path, index=False)