In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

In [5]:
#import covariate datasets qnd the outcomes. 

main_table_path = '/Users/alecstear/Documents/GitHub/anti-diabetics-study-with-EHR/'

cancer_path = f'{main_table_path}output.csv'
df_output = pd.read_csv(cancer_path)

In [9]:
df_output['subclass'] = df_output['subclass'].astype(int)

In [19]:
new_dataframe = pd.DataFrame()
for subclasse_i in range(1, 1983):
    subset = df_output[df_output['subclass'] == subclasse_i]
            # Find the 'VTE_date' value where 'VTE_group' is 1
    vte_date_value = subset.loc[subset['VTE'] == 1, 'VTE_date'].iloc[0]
    # Update the 'VTE_date' for all rows where 'VTE_group' is 0
    subset.loc[subset['VTE'] == 0, 'VTE_date'] = vte_date_value
    new_dataframe = pd.concat([new_dataframe, subset], ignore_index=True)

In [23]:
#export latest csv file
csv_file_path = '/Users/alecstear/Documents/GitHub/anti-diabetics-study-with-EHR/data tables/df_VTE.csv'
new_dataframe.to_csv(csv_file_path, index=False)

,PAT_ID,sex,age,birth_date,diab_date,cancer,COPD,fracture,hypertension,surgery,...,sulfonylureas,DPP.4,a_gluc_inhib,exp_date,VTE_date,VTE,group,distance,weights,subclass
0,10251863423642218,2,63.556468,08/01/1954,02/20/2018,0,0,0,1,1,...,0,0,0,11/04/2020,07/18/2019,1,case,0.461353,1,1
1,12236876688957404,2,81.842574,03/30/1936,02/01/2018,0,1,0,0,0,...,0,0,0,07/13/2020,07/18/2019,0,control,0.307270,1,1
2,23357584914687304,1,60.336756,04/09/1958,08/10/2018,1,0,0,1,0,...,0,0,0,07/13/2020,07/18/2019,0,control,0.456658,1,1
3,28160454596717488,1,68.873374,04/26/1949,03/11/2018,0,0,0,0,0,...,1,0,0,08/06/2019,07/18/2019,0,control,0.188083,1,1
4,12518192610427788,2,62.691307,07/31/1955,04/09/2018,0,0,0,0,1,...,0,0,0,03/07/2019,05/03/2019,1,case,0.277493,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7923,29824400827784288,2,76.706366,11/11/1941,07/27/2018,0,0,0,1,0,...,0,0,0,04/14/2019,11/09/2019,0,control,0.363420,1,1981
7924,12500807881558934,1,58.559890,06/04/1959,12/25/2017,1,0,0,0,0,...,0,0,0,11/09/2019,02/16/2019,1,case,0.270011,1,1982
7925,16272059461705430,2,93.757700,04/11/1924,01/13/2018,0,0,0,0,0,...,0,0,0,12/12/2020,02/16/2019,0,control,0.270016,1,1982
7926,19666299661973512,1,57.281314,08/02/1961,11/13/2018,0,0,0,0,0,...,0,0,0,10/16/2020,02/16/2019,0,control,0.154381,1,1982
7927,26420315241827816,2,81.325120,09/16/1936,01/13/2018,0,0,0,0,0,...,0,0,0,NaN,02/16/2019,0,control,0.222711,1,1982